/* index.css or App.css */

@tailwind components;

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #00c9ff, #92fe9d);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
